<!DOCTYPE html>
<html>
    <head>
        <title>Крестики-нолики</title>
        <style>
			div {
				text-align: center;
			}
			table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
			h3 {
				color: red; text-align: center;
			}
        </style>
    </head>
    <body>
		{% if winner == None %}
			<h3>Игрок {{turn}} ходит</h3>
		{%else%}
			<h3>Игра закончена</h3>
			<h3>Победитель игрок <b>{{winner}}</b></h3>
		{% endif %}	
		<table align = "center">
			{% for i in range(3) %}
				<tr>
					{% for j in range(3) %}
						<td>
							{% if game[i][j] %}
								{{ game[i][j] }}
							{% else %}
								<a href="{{ url_for('play', row=i, col=j) }}"><b>{{ turn }}</b> нажми меня</a>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<br>
		<div>
			<a href="{{ url_for('newgame') }}" style ='color: green;'>Новая игра</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{{ url_for('undo') }}" style ='color: green;'>Отмена хода</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{{ url_for('auto') }}" style ='color: green;'>Ход компьютера</a>
		</pre>
    </body>
</html>